@model List<Client>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/Index")
}

<div ng-controller="GridController">
    <form id="form">
        @Html.Grid(Model)
    </form>
</div>