@model IEnumerable<Client>

<div ng-controller="GridController" ng-init="getViewModelFormatSpecification()" ng-cloak>
    @Html.Grid(Model)
    <div ng-include="'/Assets/HtmlTemplates/AddEntity.html'"></div>
</div>