@model List<Client>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/Index")
}

<div ng-controller="GridController" ng-init="getViewModelFormatSpecification()" ng-cloak>
    <form id="form">
        @Html.Grid(Model)
        <div ng-include="'/Content/HtmlTemplates/AddEntity.html'"></div>
    </form>
</div>