<div ng-show="showAddEntityRow">
    <form>
        <table class="table table-striped table-bordered">
            <tr>
                <th entity-property-header
                    ng-repeat="property in formatSpecification"
                    name=""
                    value="">
                </th>
            </tr>
            <tr>
                <td entity-property-input
                    ng-repeat="property in formatSpecification"
                    name=""
                    value=""></td>

                <!--
                <td><button class="button-edit" ng-click="EditEntity()">Edit</button></td>
                <td><button class="button-delete" ng-click="DeleteEntity()">Delete</button></td>

                <td><button type="submit">Save</button></td>";
                <td><button ng-click='AddEntityCancel()'>Cancel</button></td>"; //add watcher-->
            </tr>
        </table>
    </form>
</div>